<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Sinatraz</title>
    <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
  </head>
  <body class='container'>
    <h1><%= @titulo %></h1>
    <p>Tu voto: <%= Choices[@vote] %></p>
    <p><a href='/results'>Mira que pedo!</a></p>
  </body>
</html>
