<form action="/login" method="post" class="form-horizontal">
  <div class="form-group">
    <label class="col-md-4 control-label" for="username">Username:</label>
    <div class="col-md-4">
      <input class="ïnput-md form-control" placeholder="Username" required="" autofocus="" type="text" name="username">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label" for="password">Password:</label>
    <div class="col-md-4">
      <input class="form-control" placeholder="Password" required="" type="password" name="password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-4 col-md-offset-6">
      <button class="btn btn-danger" type="reset">Clear</button>
      <button type="submit" class="btn btn-info">Login</button>
    </div>
  </div>
</form>
