<div class="container">
	<div class="row text-center">
        <div class="profile-header-container">
    		<div class="profile-header-img">
                <img class="img-circle" src="http://1.bp.blogspot.com/-wUGONjvLUTU/TkATGUc8-pI/AAAAAAABViA/T8y7i1GLFbk/s640/homer-simpson.jpg" width="125px" height="125px" />
                <div class="rank-label-container">
                    <span class="label label-default rank-label">100 puntos</span>
                </div>
            </div>
        </div>
	</div>
</div>
